.navbar-default{
   height: 52px;
}

.py-nav-bar {
    padding-top: 50px;
    text-align: right;    
}

.py-logo {
    width: 300px;
}

.py-nav-button {
    background-color: white;
    color: #34495E;
    border: 1px solid #34495E;
}

.py-nav-button:hover, .py-nav-button-active {
    background-color: #34495E;
    color: white;
}

.navbar-nav > li {
    padding-top: 7px;
    padding-right: 7px;
}