.navbar-default {
	background-color: #34495E;
	border-radius: 0px;
	border-color: #34495E;
	color: white; 
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: whitesmoke;
	background-color: #2C3E50;
}