@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body {
    font-family: 'Ubuntu','Open Sans', sans-serif;
    background-color: white;
}

.center-div {
    margin: auto;
    max-width: 500px;
    padding-top: 30px;
}

.box{
    color: white;
    font-size: 15px;
    padding: 15px;
}

.padding-5 {
    padding: 5px !important;
}

.box > hr{
    margin: 10px 5px;
}

.bg-green-sea{
    background-color: #1ABC9C;
}

.bg-green-sea:hover{
    background-color: #16A085;
}

.bg-light-blue {
    background-color: #3498DB;
}
.bg-light-blue:hover{
    background-color: #2980B9;
}

.bg-orange {
    background-color: #E67E22;
}

.bg-orange:hover{
    background-color: #D35400;
}

.div-spacer-small{
    height: 50px;
}

.div-spacer-smaller{
    height: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.label-status {
    padding: 4px;
    border-radius: 3px;
    margin: auto;
    color: white;
}

.bg-green{
    background-color: #2ECC71;
}

.bg-green:hover {
    background-color: #27AE60;
}

.bg-dark-blue {
    background-color: #34495E;
}

.bg-dark-blue:hover{
    background-color: #2C3E50;
}

.bg-red {
    background-color: #E74C3C;
}

.bg-red:hover {
    background-color: #C0392B;
}

.bg-violette {
    background-color: #9B59B6;
}

.bg-violette:hover{
    background-color: #8E44AD;
}

.co-green-sea{
    color: #1ABC9C;
}

.co-green-sea:hover{
    color: #16A085;
}

.co-green{
    color: #2ECC71;
}

.co-green:hover {
    color: #27AE60;
}

.co-dark-blue {
    color: #34495E;
}

.co-dark-blue:hover{
    color: #2C3E50;
}

.co-red {
    color: #E74C3C !important;
}

.co-red:hover {
    color: #C0392B;
}

.co-violette {
    color: #9B59B6;
}

.co-violette:hover{
    color: #8E44AD;
}

.co-orange {
    color: #E67E22;
}

.co-orange:hover{
    color: #D35400;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.loading-pays {
    text-align: center;
    margin: 50px;
}

.table-style {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid #d9d9d9;
}

.table-style > thead {
    background-color: #e8e8e8;
}

.table-style > thead > tr > th, .table-style > thead > tr {
    border: 1px solid #d9d9d9;
}

.input-amount {
    margin: -10px 10px;
    border: none;
    background-color: transparent; 
    max-width: 60px;
}

.table-style > tbody > tr > td {
    padding: 12px 6px;
    line-height: 0px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table-style > tbody > tr:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.box-info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 1px 1px 3px 0px;
    background-color: whitesmoke;
}

.box-info > h3 {
    color: darkslateblue;
}


.p-box {
    background: whitesmoke;
    margin: 25px 0px;
    box-shadow: 3px 3px 5px -4px;
    padding-bottom: 20px;
}

.p-mini-box {
    background: whitesmoke;
    box-shadow: 3px 3px 5px -4px;
    margin: 10px;
    max-width: 369px;
}

.p-mini-price {
    background: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 90%;
    margin: auto;
}

.p-box-title {
    border-bottom: 2px solid #2980B9;
    padding: 15px 5px 5px 5px;
    max-width: 90%;
    margin: auto;

}

.p-box > div > .company {
    font-size: 19px;
    color: #292929;
    font-weight: normal;
}

.p-box > div > .company-total {
    color: #292929;
    font-size: 12px;
    padding-right: 10px;
    font-weight: normal;
}

.p-box-products {
    padding: 5px 7px;
    max-width: 90%;
    margin: auto;
}

.p-box-price {
    color: #2980B9;
    font-size: 18px;
    font-weight: normal;
    float: right;
}

.dropdown {
    display: inline-block;
}

.dropdown-toggle {
    width: 120px;
}

.over-div:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.hidden-label {
    text-decoration: none;
    color: lightgrey;
}

.hidden-label:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}