<div class="container" ng-controller="Login">
	<!-- <div class="center-div">
		<div class="div-spacer-small"></div>
		<h1>Ingresar </h1>
		<div class="div-spacer-smaller"></div>
		<form ng-submit="login()">
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" ng-model="sData.email" placeholder="sheldon@cooper.com"
				 equiered>
			</div>
			<div class="form-group">
				<label>Contraseña </label>
				<input type="password" class="form-control" ng-model="sData.password" placeholder="Mi super contraseña"
				requiered>
			</div>
			<button type="submit" class="btn btn-py-action">Ingresar</button>
		</form>
		<br/>
		<a ng-href="#/register"> No estás registrado? Registrate </a>
	</div> -->

	----------------------------------------------------------------------------------

--------------------------------------------------------------------------------- </br>

<a mp-mode="dftl" href="https://www.mercadopago.com/mlb/checkout/start?pref_id=145698590-5a8967f0-e69a-48f4-b5d8-68a3b24ce626" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar</a>
<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>

</div>


