<div class="container" ng-controller="Login">
	<div class="center-div">
		<div class="div-spacer-small"></div>
		<h1>Ingresar </h1>
		<div class="div-spacer-smaller"></div>
		<form ng-submit="login()">
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" ng-model="sData.email" placeholder="sheldon@cooper.com"
				 equiered>
			</div>
			<div class="form-group">
				<label>Contraseña </label>
				<input type="password" class="form-control" ng-model="sData.password" placeholder="Mi super contraseña"
				requiered>
			</div>
			<button type="submit" class="btn btn-py-action">Ingresar</button>
		</form>
		<br/>
		<a ng-href="#/register"> No estás registrado? Registrate </a>
	</div>
</div>