<div ng-include src="'views/nav-bar.html'"></div>
<div class="container">
    <div class="text-right">
        <h1>Administrador de pagos </h1>
    </div>
    <div class="div-spacer-small"></div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="box bg-green-sea">
                <label>Total a pagar</label><hr/><label>$ {{ totalToPay() }}</label>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="box bg-light-blue">
                <label>Pagos de otros</label><hr/><label>$ {{ totalToPayFromOthers() }}</label>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="box bg-orange">
                <label>Mis pagos</label><hr/><label>$ {{ totalToPayFromMe() }}</label>
            </div>
        </div>
    </div>
</div>
<div class="div-spacer-small"></div>
<div class="container">
<div class="panel-data">
    <div class="title">
        <small ng-click="previusMonth()"><span class="glyphicon glyphicon-arrow-left cursor-pointer"></span></small>
        <label style="min-width: 130px; text-align: center">{{getMonthName(currentMonth)}} {{currentYear}}</label>
        <small ng-click="nextMonth()"><span class="glyphicon glyphicon-arrow-right cursor-pointer"></span></small>
    </div>
    <div class="margin-box">
        <table class="table table-hover">
            <thead class="cursor-pointer">
                <th class="col-xs-2" ng-click="payOrder='productName'">
                    Producto
                    <small ng-if="payOrder=='productName'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
                <th class="col-xs-2" ng-click="payOrder='amount'">
                    Monto
                    <small ng-if="payOrder=='amount'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
                <th class="col-xs-2" ng-click="payOrder='payNumber'">
                    Cuota
                    <small ng-if="payOrder=='payNumber'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
                <th class="col-xs-2" ng-click="payOrder='companyName'">
                    Empresa
                    <small ng-if="payOrder=='companyName'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
                <th class="col-xs-2" ng-click="payOrder='ownerName'">
                    Responsable
                    <small ng-if="payOrder=='ownerName'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
                <th class="col-xs-2" ng-click="payOrder='status'">
                    Estado
                    <small ng-if="payOrder=='status'">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    </small>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="pay in store.payments | filter:payFilter | orderBy:payOrder" class="cursor-pointer" ng-class="isSelected(pay.selected)" ng-click="pay.selected =! pay.selected">
                    <td class="text-left">
                        <span class="span-status" >
                            &nbsp;&nbsp;&nbsp;
                        </span>
                        {{ pay.description }}
                    </td>
                    <td>${{ pay.amount }}</td>
                    <td>{{ pay.paymentNumber + "/" + pay.totalPays }}</td>
                    <td>{{ getCompanyName(pay.idCompany) }}</td>
                    <td>{{ getOwnerName(pay.idOwner) }}</td>
                    <td>
                        <label class="label-status" ng-class="getStatusClass(pay.status)" ng-click="changeStatus(pay)">{{ getStatusWording(pay.status)}} <span ng-if="pay.changing" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-right">
    <button class="btn btn-primary" ng-click="saveChanges()" ng-if="saveButton == true">Guardar cambios </button> 
</div>
<div class="div-spacer-small"></div>