<link rel="stylesheet" href="css/nav-bar.css" >
<div class="container" ng-controller="Menu">
  <div class="col-sm-4">
    <img src="resource/logo.png" class="py-logo"/>
  </div>
  <div class="col-sm-8 py-nav-bar">
    <button ng-click="goTo('/main')" class="py-nav-button" ng-class="getClass('main')"> Principal </button>
    <button ng-click="goTo('/new-pay')" class="py-nav-button" ng-class="getClass('new-pay')"> Nuevo pago </button>
    <li class="dropdown">
      <button ng-class="getClass('see-all')" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="py-nav-button">Ver ...</button>
      <ul class="dropdown-menu">
        <li><a href="#/see-all-products">Todos los productos</a></li>
      </ul>
    </li>
    <button ng-click="logOut()" class="py-nav-button"> Salir </button>
  </div>
</div>