<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">Admin</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/main">Principal</a></li>
      <li><a href="#/new-pay">Nuevo pago</a></li>
      <li><a href="#/see-all-products">Productos</a></li>
      <li><a href="#/see-all-companies">Empresas</a></li>
      <li><a href="#/log-out">Salir</a></li>
     </ul>
  </div>
</nav>