<div class="modal-content">
  	<div class="modal-header">
    	<h4 class="modal-title">Nuevo responsable</h4>
  	</div>
  	<form>
	  	<div class="modal-body">
	  		<input type="text" class="form-control" placeholder="Nombre del responsable" ng-model="data.name" required>
	  	</div>
	  	<div class="modal-footer">
	    	<button type="button" ng-click="cancel()" class="btn btn-default">Cancelar</button>
	    	<button type="button" ng-click="add()" class="btn btn-primary">Agregar</button>
	  	</div>
  	</form>
</div>